.timeline-container {
    display: flex;
    flex-direction: column;
}

.timeline-header-container {
    width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    background-color: blue;
}

.timeline-content-cell-header {
    overflow: hidden;
}

.timeline-content {
    display: flex;
}

.timeline-content-cell-body {
    flex: 1;
    overflow: auto;    
}

