.timeline-container {
  display: flex;
  flex-direction: column;
}

.timeline-header-container {
  width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  background-color: blue;
}

.timeline-content-cell-header-wrapper {
  will-change: transform;
}

.timeline-content-cell-header {
  overflow: hidden;
  flex-shrink: 0;
}

.timeline-content {
  display: flex;
  overflow: auto;
}

.timeline-content-cell-body {
  flex: 1;
  overflow: auto;
}
